<!DOCTYPE html>
<html ng-app="groceryList">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
  <title>GroceryList</title>
  <link rel="shortcut icon" href="images/favicon.png" />
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
  <link rel="stylesheet" href="css/jquery-mobile-1.1.0.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="lib/jquery-1.7.2.min.js"></script>
  <script src="lib/jquery.mobile-1.1.0.min.js"></script>
  <script src="lib/angular.js"></script>
  
  <script>
  jQuery.mobile.defaultPageTransition = 'slide';
  jQuery.noConflict();
  </script>

  <body>
    <!--home-->
  <div data-role="page" page id="Home" ng-controller="HomeCtrl">
    <div data-role="header" data-position="fixed">
      <h1>GroceryList</h1>
    </div>
    
    <div data-role="content" align="center">
      <ul data-role="listview">
        <li ng-repeat="grocery in groceries()" data-icon="{{grocery.done && 'delete' || 'check'}}" class="listitem">
          <a ng-click="grocery.done = !grocery.done">
            <div class="ui-grid-b done-{{grocery.done}}"data-role="fieldcontain">
              <div class="ui-block-a">{{grocery.item}}</div>
              <div class="ui-block-b">{{grocery.amount}}</div>     
            </div>  
          </a>
        </li>
        <li data-icon="plus"><a href="#NewItem" align="right" style="margin-right:60px">Add New...</a></li>
        <ul>
        </div>

        <div data-role="footer" class="ui-grid-b" data-position="fixed">
          <div class="ui-block-a"></div>
          <div class="ui-block-b" align="center" >  
            <a data-role="button" data-theme="c" data-icon="check" data-iconpos="top" ng-click="clr()" class="clear">Clear</a>
          </div>    
        </div>
      </div>
      <!--/home-->

      <!--new-->
      <div data-role="page" page id="NewItem" ng-controller="NewCtrl">

        <div data-role="header" data-position="fixed">
          <h1>New Item</h1>
        </div>

        <div data-role="content"> 
          <div class="ui-grid-b" data-role="fieldcontain">
            <div class="ui-block-a" align="right" style="padding-right:30px;"><label for="name">Item:</label></div>
            <div class="ui-block-b"><input ng-model="item" type="text" value="" data-mini="true"/></div>     
          </div>
          <div class="ui-grid-b"data-role="fieldcontain">
            <div class="ui-block-a" align="right" style="padding-right:30px;"><label for="name">Amount:</label></div>
            <div class="ui-block-b"><input ng-model="itemAmount" type="text" value="" data-mini="true"/></div>     
          </div>  
        </div>

        <div data-role="footer"class="ui-grid-a" data-position="fixed">
          <div class="ui-block-a" align="center">
            <a href="#Home" data-direction="reverse" data-role="button" data-theme="c" data-icon="arrow-l" data-iconpos="top" class="cancel" ng-click="cancel()">cancel</a>
          </div>
          <div class="ui-block-b" align="center">
            <a href="#Home" type="submit" data-role="button" data-theme="c" data-icon="check" data-iconpos="top" class="add" ng-class="{'ui-disabled': !isValidInput()}" ng-click="addItem()">Add</a>
          </div>     
        </div>

      </div>
      <!--new-->

      <script src="js/app.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/directives.js"></script>
      <script src="js/services.js"></script>
  </body>
  </html>